* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    /* background-color: #eef0f3; */
    overflow-x: hidden;
    background: linear-gradient(180deg, rgb(4, 0, 63) 0%,
     rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: auto;
    width: 100vw;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1.4rem;
    }
}